.library {
  .banner {
    padding: 5rem;
    h1 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
  background-color: transparent;
  // background-image: url('../../../public//images/bg1.jpg');
  // background-size: cover;
  // background-repeat: no-repeat; /* Do not repeat the background image */
    .tabs {
      display: flex;
      justify-content: center;
    .active {
      background-color: #007BFF;
      color: white;
    }
  }
  .item-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}











